@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: larger;
   /* Prevents repeating */
/* }

body{
  background-image: url("../src/assets/background.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
} */ */